body {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: #fae481;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #FAE481;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}

#star-five:before {
  border-bottom: 80px solid #FAE481;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

#star-five:after {
  position: absolute;
  display: block;
  color: #fae481;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #fae481;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

td {
  filter: drop-shadow(0 0 0.75rem #fafaf4);
  width: 2rem;
  height: 2rem;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
td:nth-child(1) #star-five {
  position: absolute;
  top: 58vh;
  left: 60vw;
  bottom: 25vh;
  right: 17vw;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(2) {
  height: 0.5rem;
  width: 1.5rem;
}
td:nth-child(2) #star-five {
  position: absolute;
  top: 80vh;
  left: 7vw;
  bottom: 40vh;
  right: 22vw;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(3) #star-five {
  position: absolute;
  top: 26vh;
  left: 82vw;
  bottom: 52vh;
  right: 10vw;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(4) {
  height: 1.5rem;
  width: 1rem;
}
td:nth-child(4) #star-five {
  position: absolute;
  top: 83vh;
  left: 64vw;
  bottom: 68vh;
  right: 29vw;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(5) #star-five {
  position: absolute;
  top: 25vh;
  left: 23vw;
  bottom: 63vh;
  right: 32vw;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(6) {
  height: 1rem;
  width: 0.5rem;
}
td:nth-child(6) #star-five {
  position: absolute;
  top: 50vh;
  left: 61vw;
  bottom: 36vh;
  right: 45vw;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(7) #star-five {
  position: absolute;
  top: 3vh;
  left: 53vw;
  bottom: 2vh;
  right: 73vw;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(8) {
  height: 0.5rem;
  width: 0.5rem;
}
td:nth-child(8) #star-five {
  position: absolute;
  top: 38vh;
  left: 31vw;
  bottom: 20vh;
  right: 78vw;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(9) #star-five {
  position: absolute;
  top: 88vh;
  left: 76vw;
  bottom: 79vh;
  right: 67vw;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(10) {
  height: 1rem;
  width: 1.5rem;
}
td:nth-child(10) #star-five {
  position: absolute;
  top: 52vh;
  left: 56vw;
  bottom: 66vh;
  right: 29vw;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(11) #star-five {
  position: absolute;
  top: 49vh;
  left: 17vw;
  bottom: 54vh;
  right: 25vw;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(12) {
  height: 0.5rem;
  width: 1.5rem;
}
td:nth-child(12) #star-five {
  position: absolute;
  top: 76vh;
  left: 55vw;
  bottom: 9vh;
  right: 10vw;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(13) #star-five {
  position: absolute;
  top: 70vh;
  left: 87vw;
  bottom: 11vh;
  right: 15vw;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(14) {
  height: 0.5rem;
  width: 1rem;
}
td:nth-child(14) #star-five {
  position: absolute;
  top: 62vh;
  left: 37vw;
  bottom: 26vh;
  right: 66vw;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(15) #star-five {
  position: absolute;
  top: 35vh;
  left: 55vw;
  bottom: 10vh;
  right: 76vw;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(16) {
  height: 1.5rem;
  width: 1rem;
}
td:nth-child(16) #star-five {
  position: absolute;
  top: 48vh;
  left: 37vw;
  bottom: 26vh;
  right: 41vw;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(17) #star-five {
  position: absolute;
  top: 48vh;
  left: 67vw;
  bottom: 2vh;
  right: 67vw;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(18) {
  height: 0.5rem;
  width: 1.5rem;
}
td:nth-child(18) #star-five {
  position: absolute;
  top: 42vh;
  left: 1vw;
  bottom: 7vh;
  right: 42vw;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(19) #star-five {
  position: absolute;
  top: 61vh;
  left: 74vw;
  bottom: 54vh;
  right: 37vw;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

td:nth-child(20) {
  height: 1rem;
  width: 0.5rem;
}
td:nth-child(20) #star-five {
  position: absolute;
  top: 12vh;
  left: 53vw;
  bottom: 66vh;
  right: 11vw;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 0 100%;
}

/*# sourceMappingURL=main.css.map */
